{% extends "caseManage/base_index.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert">{{ message }}</div>
{% endfor %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<div class="form-group">
  <label for="name">名称</label>
  <input type="text" class="form-control required" id="name" name="name" maxlength="200" placeholder="请输入用例名称" readonly
      unselectable="on" value={{ res['case_name'] }}>
</div>
<div class="form-group">
  <label for="status">状态</label>
  <input type="text" class="form-control required" id="status" name="status" maxlength="200" placeholder="请输入用例状态" readonly
      unselectable="on" value={{ res['status'] }}>
</div>
<div class="form-group">
  <label for="starttime">开始时间</label>
  <input type="text" class="form-control required" id="starttime" name="starttime" maxlength="200" placeholder="请输入开始时间" readonly
      unselectable="on" value={{ res['starttime'] }}>
</div>
<div class="form-group">
  <label for="spenttime">消耗时间</label>
  <input type="text" class="form-control required" id="spenttime" name="spenttime" maxlength="200" placeholder="请输入消耗时间" readonly
      unselectable="on" value={{ res['spenttime'] }}>
</div>
<div class="form-group">
  <label for="error">错误日志</label>
  <input type="text" class="form-control required" id="error" name="error" maxlength="200" placeholder="请输入错误日志" readonly
      unselectable="on" value={{ res['error'] }}>
</div>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>案例名称</th>
      <th>接口名称</th>
      <th>结果</th>
      <th>日志</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for r in res['results'] %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ r['case_name'] }}</td>
      <td>{{ r['name'] }}</td>
      <td>{{ r['status'] }}</td>
      <td>{{ r['error'] }}</td>
      <td><span class="opration">展开</span></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</form>
{% endblock %}