{% extends "caseManage/base_index.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert">{{ message }}</div>
{% endfor %}
<form class="form-horizontal" id="caseManage_apirecyclebin" action="{{ url_for('caseManage_apirecyclebin',num=num) }}" method="post">
  <div class="float-left">
    <label for="select-model" class="float-label">选择模块</label>
    <input list="select-models" class="form-control required" id="select-model" name="select-model" maxlength="200"
      placeholder="请选择操作模块" onchange="getUsernames()">
    <datalist id="select-models">
      <option value="按名称">
      <option value="按版本">
      <option value="按模块">
      <option value="按用户">
    </datalist>
  </div>
  <div class="float-left" id="div-names">
    <label for="query" class="float-label">查询值</label>
    <input type="longtext" class="form-control" id="query-name" name="query-name" maxlength="500" placeholder="请输入查询值">
  </div>
  <div class="float-left uicase_list_query" id="div-usernames">
    <label for="query" class="float-label">查询值</label>
    <input type="longtext" class="form-control" id="query-username" name="query-username" maxlength="500" placeholder="请输入查询值" list="usernames">
    <datalist id="usernames">
      {% for username in usernames %}
      <option value="{{ username['zh_name'] }}">
      {% endfor %}
    </datalist>
  </div>
  <div class="float-left uicase_list_query" id="div-versions">
    <label for="query" class="float-label">查询值</label>
    <input type="longtext" class="form-control" id="query-version" name="query-version" maxlength="500" placeholder="请输入查询值" list="versions">
    <datalist id="versions">
      {% for version in versions %}
      <option value="{{ version['version'] }}">
      {% endfor %}
    </datalist>
  </div>
  <div class="float-left uicase_list_query" id="div-models">
    <label for="query" class="float-label">查询值</label>
    <input type="longtext" class="form-control" id="query-model" name="query-model" maxlength="500" placeholder="请输入查询值" list="models">
    <datalist id="models">
      {% for model in models %}
      <option value="{{ model['model'] }}">
      {% endfor %}
    </datalist>
  </div>
  <div class="float-left">
    <input type=submit value="查询" class="button">
  </div>
</form>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>用例类型</th>
      <th>用例版本</th>
      <th>所属产品</th>
      <th>所属模块</th>
      <th>名称</th>
      <th>前置事件</th>
      <th>操作步骤</th>
      <th>后置事件</th>
      <th>描述</th>
      <th>创建者</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for case in cases %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ case['type'] }}</td>
      <td>{{ case['version'] }}</td>
      <td>{{ case['product'] }}</td>
      <td>{{ case['model'] }}</td>
      <td>{{ case['name'] }}</td>
      <td>{{ case['pre_steps'] }}</td>
      <td style="position: relative;">
        <span id="pack_{{ loop.index }}">
          {{ case['steps'].split("\r\n")[0] }}<br />
        </span>
        <span id="more_{{ loop.index }}" style="display: none;">
          {% for case_step in case['steps'].split("\r\n") %}
          {{ case_step }}<br />
          {% endfor %}
        </span>
        {% if case['steps'].split("\r\n")|length > 1 %}
        <a id="expand_more_{{ loop.index }}" class="expand_more_pack" onclick="more('{{ loop.index }}')"> ↓ </a>
        <a id="expand_pack_{{ loop.index }}" class="expand_more_pack" onclick="pack('{{ loop.index }}')"
          style="display: none;"> ↑ </a>
        {% endif %}
      </td>
      <td>{{ case['next_steps'] }}</td>
      <td>{{ case['description'] }}</td>
      <td>{{ case['zh_name'] }}</td>
      <td>{{ case['create_date'] }}</td>
      <td>
        {% for recycle,links in recyclebin %}
        <span class="opration"><a href="{{ SITEURL }}/caseManage/apicase_recyclebin_{{ links }}/{{ case['id'] }}"
            onclick="loading()">{{ recycle }}</a></span>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="13">
        {% for page in range(all_Page) %}
        <span class="opration"><a href="{{ SITEURL }}/caseManage/apirecyclebin/{{ page+1 }}">{{ page+1 }}</a></span>
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>
<div id="loadDiv"><img src="{{ SITEURL }}/static/img/loading.gif" /></div>
{% endblock %}