{% extends "caseManage/base.html" %}
{% block login %}
<div id=nav>
    {% for n in caseManage_nav %}
    <li class="nav"><a class="color" href="{{ SITEURL }}/caseManage/{{ username }}">{{ n }}</a>
        {% if n == 'UI自动化' %}
        <ul id="submenu">
            {% for sub,slink in caseManage_sub_nav_ui %}
            <li><a href="{{ SITEURL }}/caseManage/{{ slink }}/1">{{ sub }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if n == '接口自动化' %}
        <ul id="submenu">
            {% for sub,slink in caseManage_sub_nav_api %}
            <li><a href="{{ SITEURL }}/caseManage/{{ slink }}/1">{{ sub }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if n == '设置' %}
        <ul id="submenu">
            {% for sub,slink in caseManage_set_nav %}
            <li><a href="{{ SITEURL }}/caseManage/{{ slink }}/1">{{ sub }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {%  endfor %}
</div>
<div id=content>
    {% block content %}
    {% endblock %}
</div>
{% endblock %}