{% extends "caseManage/base_index.html" %}
{% block content %}
<form action="{{ url_for('modify_passwd') }}" method=post>
  <div class="form-group">
    <label class="pwcha">当前密码<span style="color:red">*</span></label>
    <input type="password" class="form-control required" name="pw_old" id="pw_old" maxlength="20" placeholder="请输入当前密码">
  </div>
  <div class="form-group">
    <label class="pwcha">&emsp;新密码<span style="color:red">*</span></label>
    <input type="password" class="form-control required" name="pw_new_o" id="pw_new_o" maxlength="20"
      placeholder="请输入新密码">
  </div>
  <div class="form-group">
    <label class="pwcha">确认密码<span style="color:red">*</span></label>
    <input type="password" class="form-control required" name="pw_new_t" id="pw_new_t" maxlength="20"
      placeholder="请再次输入密码">
  </div>
  <div class="form-group">
    <input type="submit" value="更新" class="button">
  </div>
</form>
{% endblock %}