{% extends "caseManage/base_index.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert">{{ message }}</div>
{% endfor %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form class="form-horizontal" id="caseManage_new_uicase" action="{{ url_for('caseManage_new_uicase') }}" method="post">
  <div class="form-group">
    <label for="product">所属产品</label>
    <input id="product" list="products" class="form-control required" name="product" maxlength="200" placeholder="请选择产品" onchange="getModel()">
    <datalist id="products">
      {% for pro in product %}
      <option value="{{ pro }}">
        {% endfor %}
    </datalist>
  </div>
  <div class="form-group">
    <label for="version">用例版本</label>
    <input id="version" list="versions" class="form-control required" name="version" maxlength="200" placeholder="请选择用例类型">
    <datalist id="versions">
      {% for version in versions %}
      <option value="{{ version }}">
      {% endfor %}
    </datalist>
  </div>
  <div class="form-group">
    <label for="model">所属模块</label>
    <input id="model" list="models" class="form-control required" name="model" maxlength="200" placeholder="请选择模块">
    <datalist id="models">
      {% for mod in model_oma %}
      <option value="{{ mod }}">
        {% endfor %}
    </datalist>
  </div>
  <div class="form-group">
    <label for="name">名称</label>
    <input type="text" class="form-control required" id="name" name="name" maxlength="200" placeholder="请输入用例名称">
  </div>
  <div class="form-group">
    <label for="choice">选择动作</label>
    <input id="choice" list="choice" class="form-control required" name="choice" maxlength="200" placeholder="请选择操作步骤"
      onchange="getElements()">
    <datalist id="choice">
      {% for list_step in list_steps %}
      <option value="{{ list_step['keyword'] }}">
        {% endfor %}
    </datalist>
  </div>
  <div class="form-group">
    <label for="steps">步骤</label>
    <textarea class="form-control required" id="steps" name="steps" placeholder="请输入步骤" cols="300" rows="5"></textarea>
  </div>
  <div class="form-group">
    <label for="description">描述</label>
    <input type="longtext" class="form-control" id="description" name="description" maxlength="500" placeholder="请输入描述">
  </div>
  <div class="form-group">
    <input type=submit value="保存" class="button">
  </div>
</form>
{% endblock %}