{% extends "caseManage/base_index.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert">{{ message }}</div>
{% endfor %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form class="form-horizontal" id="new_apicase" name="caseManage_new_apicase"
  action="{{ url_for('caseManage_new_apicase') }}" method="post">
  <div class="form-group">
    <label for="type">用例类型</label>
    <input id="type" list="types" class="form-control required" name="type" maxlength="200" placeholder="请选择用例类型"
      onchange="delPreNext()">
    <datalist id="types">
      <option value="公共用例">
      <option value="普通用例">
    </datalist>
  </div>
  <div class="form-group">
    <label for="product">所属产品</label>
    <input id="model_oma" value="{{ model_oma }}" style="display: none;">
    <input id="model_sicap" value="{{ model_sicap }}" style="display: none;">
    <input id="product" list="products" class="form-control required" name="product" maxlength="200"
      placeholder="请选择产品" onchange="getModel(document.getElementById('model_oma').value,document.getElementById('model_sicap').value)">
    <datalist id="products">
      {% for pro in product %}
      <option value="{{ pro }}">
        {% endfor %}
    </datalist>
  </div>
  <div class="form-group">
    <label for="version">用例版本</label>
    <input id="version" list="versions" class="form-control required" name="version" maxlength="200"
      placeholder="请选择用例版本">
    <datalist id="versions">
      {% for version in versions %}
      <option value="{{ version }}">
        {% endfor %}
    </datalist>
  </div>
  <div class="form-group">
    <label for="model">所属模块</label>
    <input id="model" list="models" class="form-control required" name="model" maxlength="200" placeholder="请选择模块">
    <datalist id="models" class="model_sicap">
    </datalist>
  </div>
  <div class="form-group">
    <label for="name">名称</label>
    <input type="text" class="form-control required" id="name" name="name" maxlength="200" placeholder="请输入用例名称">
  </div>
  <div class="form-group">
    <label for="description">描述</label>
    <input type="text" class="form-control required" id="description" name="description" maxlength="200"
      placeholder="请输入用例描述">
  </div>
  <div class="form-group" delPreNext>
    <label for="pre-choice">前置事务</label>
    <input id="pre-choice" list="pre-choices" class="form-control required" name="pre-choice" maxlength="200"
      placeholder="请选择前置事务" onchange="getPres()">
    <datalist id="pre-choices">
      {% for issuetype in issuetypes %}
      <option value="{{ issuetype['name'] }}">
        {% endfor %}
    </datalist>
  </div>
  <div class="form-group">
    <label for="pre-steps"></label>
    <textarea class="form-control required" id="pre-steps" name="pre-steps" placeholder="请输入前置事务" cols="300"
      rows="5"></textarea>
  </div>
  <div class="form-group">
    <label for="choice">操作步骤</label>
    <input id="select" list="choice" class="form-control required" name="choice" maxlength="200" placeholder="请选择操作步骤"
      onchange="getElements()">
    <datalist id="choice">
      {% for apiset in apisets %}
      <option value="{{ apiset['name'] }}">
        {% endfor %}
    </datalist>
  </div>
  <div class="form-group">
    <label for="steps"></label>
    <textarea class="form-control required" id="steps" name="steps" placeholder="请输入步骤" cols="300" rows="5"></textarea>
  </div>
  <div class="form-group delPreNext">
    <label for="next-choice">后置事务</label>
    <input id="next-choice" list="next-choices" class="form-control required" name="next-choice" maxlength="200"
      placeholder="请选择后置事务" onchange="getNexts()">
    <datalist id="next-choices">
      {% for issuetype in issuetypes %}
      <option value="{{ issuetype['name'] }}">
        {% endfor %}
    </datalist>
  </div>
  <div class="form-group">
    <label for="next-steps"></label>
    <textarea class="form-control required" id="next-steps" name="next-steps" placeholder="请输入后置事务" cols="300"
      rows="5"></textarea>
  </div>
  <div class="form-group">
    <input type=submit name="save" value="保存" class="button">
  </div>
</form>
{% endblock %}