/* 通用 */
* {
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;  
    -moz-box-sizing:border-box; /* Firefox */  
    -webkit-box-sizing:border-box; /* Safari */
}

html,body{
    height:100%;
   }

a {
    text-decoration:none;
    color: #676a6c;
}

li{
    list-style-type:none;
} 

table {
    width: 100%;
    border: 1px solid #ebeef5;
    border-collapse: collapse;
    border-radius: 5px;
}

th,tr,td {
    border: 1px solid #ebeef5;
    height: 42px;
    line-height: 42px;
    padding: 0 5px;
}

td {
    min-width: 70px;
    max-width: 600px;
    word-break : break-all;
}

th {
    background-color: #ebeef5;
    border: 1px solid #fff;
}

select,input {
    height: 42px;
    border-radius: 5px;
    border: 1px solid #ebeef5;
    padding: 0px 10px;
    color: #676a6c;
    outline:none;
}

label {
    height: 42px;
}

textarea {
    line-height: 20px;
    padding: 11px 10px;
    border-radius: 5px;
    border: 1px solid #ebeef5;
    color: #676a6c;
}

input, button, select, textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.textarea {
    line-height: 20px;
    padding: 11px 10px;
    border-radius: 5px;
    border: 1px solid #ebeef5;
    color: #676a6c;
    text-align: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    white-space: pre;
}

/*为空时显示 element attribute content*/
.textarea:empty:before{
    content: attr(placeholder);   /* element attribute*/
    /*content: 'this is content';*/
}
/*焦点时内容为空*/
.textarea:focus:before{
    content:none;
}

hr {
    height: 5px;
    background-color: #ebeef5;
    border: 0px;
}

/* body */
body {
    background: #fff;
    font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #676a6c;
}

/* base */
#main {
    width: 100%;
    color: #676a6c;
    position: relative;
    padding-left: 150px;
    height: 100%;
}

#sitename {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 47px;
    margin: 0 auto;
    text-align: right;
    width: 100%;
    line-height: 42px;
    border-bottom: 5px solid rgb(255, 144, 35);
    background: background linear-gradient(90deg,#414d5f,#414d5f);
    padding-left: 150px;
    font-weight: bold;
    color: #fff;
    z-index: 1;
}

#sitename .right {
    float: right;
    margin-right: 20px;
    text-align: right;
}

#sitename .right span {
    margin-right: 20px;
}

#sitename .left {
    float: left;
    font-size: 1.5em;
    padding-left:20px;
    font-weight: bold;
}

#sitename a {
    color: #fff;
}

#footer {
    position: fixed;
    bottom: 0px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-left: -150px;
    border-top: 1px solid #ddd;
    background-color: #f7f7f8;
    color: #000;
    z-index: 3;
}

#footer a {
    color: #000;
}

#footer li {
    line-height: 30px;
}

/* base2 */

#nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width:150px;
    text-align: left;
    background-color: #ebeef5;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
    z-index: 2;
}

#nav li {
    line-height: 42px;
}

#nav ul#submenu {
    padding-left: 20px;
}

#nav a.color {
    background: #596275;
    display: block;
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    color: #fff;
}

#nav .nav:first-child {
    border-bottom: 5px solid #ff9023;
}

#nav .nav:first-child a {
    font-size: 1.5em;
}

/*#nav #title {
    font-size: 1.5em;
}*/

/* login */
#login_nav {
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-bottom: 1px solid #ebeef5;
    font-size: 28px;
    font-weight: bold;
}

#login {
    margin: 0 auto;
    padding: 20px;
}

#login .login {
    text-align: center;
    margin: 5px;
}

#login .login input {
    width: 50%;
}

#login .login .button {
    background: #ff9023;
    color: #ffffff;
}

/* uicase */
#content {
    text-align: center;
    padding: 67px 20px 0px 20px;
    padding-bottom: 80px;
    z-index: 0;
}

#content td, #content th {
    line-height: 25px;
}

#content th {
    color: rgba(0, 0, 0, 0.85);
}

/* new_uitest */
#content .form-group {
    padding: 10px;
    position:relative;
}

#content .new ul li a {
    display: block;
    height: 42px;
    width: 100px;
    border-radius: 5px;
    background-color: #ff9023;
    margin: 10px;
    color: #fff;
    line-height: 42px;
}

#content .form-group {
    padding: 10px;
    position:relative;
}

#content .form-group label {
    position: absolute;
    left:0%;
    line-height: 42px;
    margin-left: 10px;
}

#content .form-group .form-control {
    width: 95%;
    margin-left: 5%;
}

#content .form-group .apiElement {
    width: 100%;
    margin-left: 0%;
}

#content .form-group .apiElementName {
    height: 42px;
    line-height: 42px;
    width: 100%;
    padding-left: 10px;
}

#content .form-group .colorName {
    background-color: #ebeef5;
}

#content .form-group .button {
    width: 100px;
    background: #ff9023;
    color: #ffffff;
    outline:none;
}

#content .opration {
    padding-left: 5px;
}

#content .opration a {
    color: #199FED;
}

#addElement {
    max-width: 95%;
    margin-left: 5%;
    text-align: left;
}

a.addElement {
    display: inline-block;
    width: 100px;
    height: 42px;
    line-height: 42px;
    margin-right:5px;
    background-color: #ff9023;
    border-radius: 5px;
    text-align: center;
}

.error {
    color: red;
    line-height: 42px;
    text-align: center;
}

.alert {
    color: blue;
    line-height: 42px;
    text-align: center;
}

.suninfo {
    height: 600px;
    line-height: 600px;
    font-size: 300px;
    color: #ddd;
    font-family: 'Times New Roman', Times, serif;
}

#loadDiv {
    display: none;
    text-align: center; /*让div内部文字居中*/
    width: 124px;
    height: 124px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#select-issue-mode,#select-model-mode,#select-version-mode {
    display: none;
}

.expand_more_pack {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 25px;
    line-height: 25px;
    cursor:pointer;
}

.float-left {
    float: left;
    height: 42px;
    margin: 10px;
    color: #676a6c;
}

.float-left .button {
    width: 100px;
    background: #ff9023;
    color: #ffffff;
    outline:none;
}

.float-label {
    width:200px;
}

.uicase_list_query,.apicase_list_query {
    display: none;
}

.current {
    font-weight: bold;
    color: #ff9023;
}

#make_issue {
    display: none;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    background-color: #fff;
    border: 5px solid #676a6c;
    width: 1200px;
    height: 600px;
    overflow-y: scroll;
    }

#make_issue th {
    min-width: 50px;
}

#hidebg {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 998;
    background-color: #676a6c;
    opacity:0.5;
}

/* 对号 */
.success{
    display: inline-block;
    font-weight: 700;
    margin: 0 10px;
    width: 8px;
    height: 13px;
    transform: rotate(45deg);
    border-style: solid;
    border-color: #009933;
    border-width:   0 4px 4px 0 ;
}

/* X号 */
.failed {
    width: 15px;
    height: 15px;
    margin: auto;
    position: relative;
    margin-left: 32px;
}
.failed::before,
.failed::after {
    content: "";
    position: absolute;
    height: 18px;
    width: 3px;
    top: 0px;
    right: 15px;
    background: red;
}
.failed::before {
    transform: rotate(45deg);
}
.failed::after {
    transform: rotate(-45deg);
}

.issue_div {
    height: 42px;
    width: 100px;
    border-radius: 5px;
    background-color: #ebeef5;
    line-height: 42px;
}

#content .page a {
    color: #ff9023;
}