{% extends "base_index.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert">{{ message }}</div>
{% endfor %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form class="form-horizontal" id="apicases"
  action="{{ url_for('page_auth') }}" method="post">
  <div class="form-group">
    <label for="select-page">选择页面</label>
    <input list="select-pages" class="form-control reqapired" id="select-page" name="select-page" maxlength="200"
      placeholder="请选择页面">
    <datalist id="select-pages">
      {% for auth_zero,auth_first,auth_sec in page_auths %}
      <option value="{{ auth_zero+'-'+auth_first }}">
      {% endfor %}
    </datalist>
  </div>
  <div class="form-group" id="div-names-none" style="display: none;">
    <label for="auth">默认值</label>
    <input type="longtext" class="form-control" id="auth" name="auth" maxlength="500" placeholder="请输入查询值" value="审核|普通|执行|管理">
  </div>
  <div class="form-group" id="div-names-block">
    <label for="auth">默认值</label>
    <div id="checkbox">
      <span><input style="vertical-align:middle" type="checkbox" name="category" value="审核" onclick="getCheckbox()" /> 审核</span>
      <span><input style="vertical-align:middle" type="checkbox" name="category" value="普通" onclick="getCheckbox()" /> 普通</span>
      <span><input style="vertical-align:middle" type="checkbox" name="category" value="执行" onclick="getCheckbox()" /> 执行</span>
      <span><input style="vertical-align:middle" type="checkbox" name="category" value="管理" onclick="getCheckbox()" /> 管理</span>
    </div>
  </div>
  <div class="form-group">
    <input type=submit value="保存" class="button">
  </div>
</form>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>导航菜单</th>
      <th>菜单名称</th>
      <th>菜单权限</th>
    </tr>
  </thead>
  <tbody>
    {% for page_auth in page_auths %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ page_auth[0] }}</td>
      <td>{{ page_auth[1] }}</td>
      <td>{{ page_auth[2] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}