{% extends "base_index.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert">{{ message }}</div>
{% endfor %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form class="form-horizontal" id="apicases" action="{{ url_for('user_auth') }}" method="post">
  <div class="form-group">
    <label for="select-user">选择用户</label>
    <input list="select-users" class="form-control reqapired" id="select-user" name="select-user" maxlength="200"
      placeholder="请选择用户">
    <datalist id="select-users">
      {% for auth_zero,auth_first,auth_sec in user_auths %}
      <option value="{{ auth_first }}">
        {% endfor %}
    </datalist>
  </div>
  <div class="form-group" id="div-names-none" style="display: none;">
    <label for="auth"></label>
    <input type="longtext" class="form-control" id="auth" name="auth" maxlength="500" placeholder="请输入查询值">
  </div>
  <div class="form-group" id="div-names-block">
    <label for="auth">默认值</label>
    <div id="checkbox">
      <span><input style="vertical-align:middle" type="checkbox" name="category" value="审核" onclick="getCheckbox()" /> 审核</span>
      <span><input style="vertical-align:middle" type="checkbox" name="category" value="普通" onclick="getCheckbox()" /> 普通</span>
      <span><input style="vertical-align:middle" type="checkbox" name="category" value="执行" onclick="getCheckbox()" /> 执行</span>
      <span><input style="vertical-align:middle" type="checkbox" name="category" value="管理" onclick="getCheckbox()" /> 管理</span>
    </div>
  </div>
  <div class="form-group">
    <input type=submit value="保存" class="button">
  </div>
</form>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>用户名</th>
      <th>中文名</th>
      <th>用户权限</th>
    </tr>
  </thead>
  <tbody>
    {% for user_auth in user_auths %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ user_auth[0] }}</td>
      <td>{{ user_auth[1] }}</td>
      <td>{{ user_auth[2] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}