{% extends "review/base_index.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert">{{ message }}</div>
{% endfor %}
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>用例类型</th>
      <th>用例版本</th>
      <th>所属产品</th>
      <th>所属模块</th>
      <th>名称</th>
      <th>前置事件</th>
      <th>操作步骤</th>
      <th>后置事件</th>
      <th>描述</th>
      <th>创建者</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for case in cases|reverse %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ case['type'] }}</td>
      <td>{{ case['version'] }}</td>
      <td>{{ case['product'] }}</td>
      <td>{{ case['model'] }}</td>
      <td>{{ case['name'] }}</td>
      <td>{{ case['pre_steps'] }}</td>
      <td style="position: relative;">
        <span id="pack_{{ loop.index }}">
          {{ case['steps'].split("\r\n")[0] }}<br />
        </span>
        <span id="more_{{ loop.index }}" style="display: none;">
          {% for case_step in case['steps'].split("\r\n") %}
          {{ case_step }}<br />
          {% endfor %}
        </span>
        {% if case['steps'].split("\r\n")|length > 1 %}
        <a id="expand_more_{{ loop.index }}" class="expand_more_pack" onclick="more('{{ loop.index }}')"> ↓ </a>
        <a id="expand_pack_{{ loop.index }}" class="expand_more_pack" onclick="pack('{{ loop.index }}')" style="display: none;"> ↑ </a>
        {% endif %}
      </td>
      <td>{{ case['next_steps'] }}</td>
      <td>{{ case['description'] }}</td>
      <td>{{ case['zh_name'] }}</td>
      <td>{{ case['create_date'] }}</td>
      <td>
        {% for opera,links in review_operation %}
        <span class="opration"><a href="{{ SITEURL }}/review/uicase_{{ links }}/{{ case['id'] }}"
            onclick="loading()">{{ opera }}</a></span>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="13">
        {% for page in range(all_Page) %}
        <span class="opration"><a href="{{ SITEURL }}/review/uicases/{{ page+1 }}">{{ page+1 }}</a></span>
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>
<div id="loadDiv"><img src="{{ SITEURL }}/static/img/loading.gif" /></div>
{% endblock %}