{% extends "base.html" %}
{% block login %}
<div id=nav>
    {% for n,m,p in nav(session['username'],'一级菜单') %}
    <li class="nav"><a class="color" href="{{ SITEURL }}/{{ username(session['username']) }}">{{ n }}</a>
        {% if n == 'UI自动化' %}
        <ul id="submenu">
            {% for sub,slink,status in nav(session['username'],'UI自动化') %}
            {% if sub in ('用例编写','用例审核','用例执行','回收站') %}
            <li><a href="{{ SITEURL }}/{{ slink }}/a.username/{{ username(session['username']) }}/{{ status }}/1"
                    class="{{ 'current' if slink+status|string == current else '' }}">{{ sub }}</a></li>
            {% elif sub in ('UI封装','测试集') %}
            <li><a href="{{ SITEURL }}/{{ slink }}/1/1/1" class="{{ 'current' if slink == current else '' }}">{{ sub }}</a></li>
            {% else %}
            <li><a href="{{ SITEURL }}/{{ slink }}/1" class="{{ 'current' if slink == current else '' }}">{{ sub }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% if n == '接口自动化' %}
        <ul id="submenu">
            {% for sub,slink,status in nav(session['username'],'接口自动化') %}
            {% if sub in ('用例编写','用例审核','用例执行','回收站') %}
            <li><a href="{{ SITEURL }}/{{ slink }}/a.username/{{ username(session['username']) }}/{{ status }}/1"
                    class="{{ 'current' if slink+status|string == current else '' }}">{{ sub }}</a></li>
            {% elif sub in ('接口集','测试集') %}
            <li><a href="{{ SITEURL }}/{{ slink }}/1/1/1" class="{{ 'current' if slink == current else '' }}">{{ sub }}</a></li>
            {% else %}
            <li><a href="{{ SITEURL }}/{{ slink }}/1" class="{{ 'current' if slink == current else '' }}">{{ sub }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% if n == '设置' %}
        <ul id="submenu">
            {% for sub,slink,status in nav(session['username'],'设置') %}
            {% if sub in ('版本号') %}
            <li><a href="{{ SITEURL }}/{{ slink }}/1/1/1" class="{{ 'current' if slink == current else '' }}">{{ sub }}</a>
            </li>
            {% else %}
            <li><a href="{{ SITEURL }}/{{ slink }}" class="{{ 'current' if slink == current else '' }}">{{ sub }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
    <li id="seat"></li>
</div>
<div id=content>
    {% block content %}
    {% endblock %}
</div>
{% endblock %}