{% extends "base.html" %}
{% block login %}
<div id=nav>
    {% if username == 'admin' %}
    {% for n in nav %}
    <li class="nav"><a class="color" href="{{ SITEURL }}/{{ username }}">{{ n }}</a>
        {% if n == 'UI自动化' %}
        <ul id="submenu">
            {% for sub,slink in sub_nav_ui %}
            <li><a href="{{ SITEURL }}/{{ slink }}/1">{{ sub }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if n == '接口自动化' %}
        <ul id="submenu">
            {% for sub,slink in sub_nav_api %}
            <li><a href="{{ SITEURL }}/{{ slink }}/1">{{ sub }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if n == '设置' %}
        <ul id="submenu">
            {% for sub,slink in set_nav %}
            <li><a href="{{ SITEURL }}/{{ slink }}">{{ sub }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
    {% else %}
    {% for n in nav[:3] %}
    <li class="nav"><a class="color" href="{{ SITEURL }}/{{ nlink }}">{{ n }}</a>
        {% if n == 'UI自动化' %}
        <ul id="submenu">
            {% for sub,slink in sub_nav_ui %}
            <li><a href="{{ SITEURL }}/{{ slink }}/1" class="{{ 'current' if slink == current else '' }}">{{ sub }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if n == '接口自动化' %}
        <ul id="submenu">
            {% for sub,slink in sub_nav_api %}
            <li><a href="{{ SITEURL }}/{{ slink }}/1" class="{{ 'current' if slink == current else '' }}">{{ sub }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if n == '设置' %}
        <ul id="submenu">
            {% for sub,slink in set_nav %}
            <li><a href="{{ SITEURL }}/{{ slink }}/1" class="{{ 'current' if slink == current else '' }}">{{ sub }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {%  endfor %}
    {% endif %}
</div>
<div id=content>
    {% block content %}
    {% endblock %}
</div>
{% endblock %}