{% extends "base_index.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert">{{ message }}</div>
{% endfor %}
<div class="statistics">
    <h2>OMA按版本统计</h2>
    <table class="count">
        <thead>
            <tr>
                <th>版本</th>
                <th>数量</th>
            </tr>
        </thead>
        <tbody>
            {% for oma_version in oma_versions %}
            <tr>
                <td>{{ oma_version[0] }}</td>
                <td>{{ oma_version[1] }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>总计</td>
                <td>{{ oma_counts }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="statistics">
    <h2>OMA按模块统计</h2>
    <table class="count">
        <thead>
            <tr>
                <th>模块</th>
                <th>数量</th>
            </tr>
        </thead>
        <tbody>
            {% for oma_model in oma_models %}
            <tr>
                <td>{{ oma_model[0] }}</td>
                <td>{{ oma_model[1] }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>总计</td>
                <td>{{ oma_counts }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="statistics">
    <h2>SiCAP按版本统计</h2>
    <table class="count">
        <thead>
            <tr>
                <th>版本</th>
                <th>数量</th>
            </tr>
        </thead>
        <tbody>
            {% for sicap_version in sicap_versions %}
            <tr>
                <td>{{ sicap_version[0] }}</td>
                <td>{{ sicap_version[1] }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>总计</td>
                <td>{{ sicap_counts }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="statistics">
    <h2>SiCAP按模块统计</h2>
    <table class="count">
        <thead>
            <tr>
                <th>模块</th>
                <th>数量</th>
            </tr>
        </thead>
        <tbody>
            {% for sicap_model in sicap_models %}
            <tr>
                <td>{{ sicap_model[0] }}</td>
                <td>{{ sicap_model[1] }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>总计</td>
                <td>{{ sicap_counts }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}