{% extends "base.html" %}
{% block login %}
<style>
  #sitename {display: none;}
  #main {padding-left: 0px;}
</style>
<div id="login_nav">自动化测试工具</div>
{% for message in get_flashed_messages() %}
<div class="alert">{{ message }}</div>
{% endfor %}
<div id=login>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method=post>
    <ul>
      <li class="login"><input type=text name=username placeholder="用户名"></li>
      <li class="login"><input type=password name=password placeholder="密码"></li>
      <li class="login"><input type=submit value='登陆'></li>
    </ul>
  </form>
</div>
{% endblock %}