{% extends "base_index.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert">{{ message }}</div>
{% endfor %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<div class="new">
	<ul>
	  <li>
		<a href="{{ SITEURL }}/exec_failed/{{ type }}/0">执行失败用例</a>
	  </li>
	</ul>
  </div>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>测试报告名称</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		{% for report_list in report_lists %}
		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ report_list }}</td>
			<td>
				<span class="opration"><a href="{{ SITEURL }}/{{ path }}/{{ report_list }}" target="_blank">查看</a></span>
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="3">
			  {% for page in range(all_Page) %}
			  <span class="pages {{ 'page' if num == page+1 else '' }}"><a href="{{ SITEURL }}/{{ type }}_report_list/{{ page+1 }}">{{ page+1 }}</a></span>
			  {% endfor %}
			</td>
		  </tr>
	</tbody>
</table>
{% endblock %}