{% extends "base_index.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert">{{ message }}</div>
{% endfor %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form class="form-horizontal" id="new_uicase" action="{{ url_for('new_uicase',status=status) }}" method="post">
  <div class="form-group">
    <label for="type">用例类型<span style="color:red">*</span></label>
    <input id="type" list="types" class="form-control required" name="type" maxlength="200" placeholder="请选择用例类型"
      onchange="delPreNext()">
    <datalist id="types">
      <option value="公共用例">
      <option value="普通用例">
      <option value="后置用例">
    </datalist>
  </div>
  <div class="form-group">
    <label for="product">所属产品<span style="color:red">*</span></label>
    <input id="model_oma" value="{{ model_oma }}" style="display: none;">
    <input id="model_sicap" value="{{ model_sicap }}" style="display: none;">
    <input id="product" list="products" class="form-control required" name="product" maxlength="200" placeholder="请选择产品"
      onchange="getModel(document.getElementById('model_oma').value,document.getElementById('model_sicap').value)">
    <datalist id="products">
      {% for pro in product %}
      <option value="{{ pro }}">
        {% endfor %}
    </datalist>
  </div>
  <div class="form-group">
    <label for="version">用例版本<span style="color:red">*</span></label>
    <input id="version" list="versions" class="form-control required" name="version" maxlength="200"
      placeholder="请选择用例类型">
    <datalist id="versions">
      {% for version in versions %}
      <option value="{{ version }}">
        {% endfor %}
    </datalist>
  </div>
  <div class="form-group">
    <label for="model">所属模块<span style="color:red">*</span></label>
    <input id="model" list="models" class="form-control required" name="model" maxlength="200" placeholder="请选择模块">
    <datalist id="models">
    </datalist>
  </div>
  <div class="form-group">
    <label for="name">名称<span style="color:red">*</span></label>
    <input type="text" class="form-control required" id="name" name="name" maxlength="200" placeholder="请输入用例名称">
  </div>
  <div class="form-group delPreNext">
    <label for="pre-choice">前置事务</label>
    <input id="pre-choice" list="pre-choices" class="form-control required" name="pre-choice" maxlength="200"
      placeholder="请选择前置事务" onchange="getPres()">
    <datalist id="pre-choices">
      {% for issuetype in issuetypes %}
      <option value="{{ issuetype['name'] }}">
        {% endfor %}
    </datalist>
  </div>
  <div class="form-group delPreNext">
    <label for="pre-steps"></label>
    <textarea class="form-control required" id="pre-steps" name="pre-steps" placeholder="请输入前置事务" cols="300"
      rows="5"></textarea>
  </div>
  <div id="getSelectValue" style="display: none;">
    <input list="issue_names" id="issue_name" class="issue_names_list" name="issue_name" maxlength="200" placeholder="请选择用例步骤">
    <datalist id="issue_names">
      {% for list_step in list_steps %}
      <option value="{{ list_step['keyword'] }}">
        {% endfor %}
    </datalist>
  </div>
  <div id="getUisets" style="display: none;">
    <input id="getUisets-input" name="getUisets" value="{{ list_steps }}">
  </div>
  <div class="form-group">
    <label for="choice">操作步骤<span style="color:red">*</span></label>
    <div class="form-control required issue_div" id="choice" name="choice" placeholder="请输入步骤">
      <a href="#" onclick="makeIssue()">用例生成工具</a>
    </div>
  </div>
  <div class="form-group">
    <label for="steps"></label>
    <textarea class="form-control required" id="steps" name="steps" placeholder="请输入步骤" cols="300" rows="10"></textarea>
  </div>
  <div class="form-group delPreNext">
    <label for="next-choice">后置事务</label>
    <input id="next-choice" list="next-choices" class="form-control required" name="next-choice" maxlength="200"
      placeholder="请选择后置事务" onchange="getNexts()">
    <datalist id="next-choices">
      {% for nexttype in nexttypes %}
      <option value="{{ nexttype['name'] }}">
        {% endfor %}
    </datalist>
  </div>
  <div class="form-group delPreNext">
    <label for="next-steps"></label>
    <textarea class="form-control required" id="next-steps" name="next-steps" placeholder="请输入后置事务" cols="300"
      rows="5"></textarea>
  </div>
  <div class="form-group">
    <label for="description">描述</label>
    <textarea class="form-control required" id="description" name="description" placeholder="请输入描述" cols="300"
      rows="5"></textarea>
  </div>
  <div class="form-group">
    <input type=submit value="保存" class="button">
  </div>
</form>
<table id="make_issue">
  <thead>
    <tr>
      <th>用例步骤</th>
      <th>参数1</th>
      <th>参数2</th>
      <th>参数3</th>
      <th>参数4</th>
      <th>参数5</th>
      <th><a href="#" onclick="addElementTdone()" id="addElementTd" class="addElementTd">➕</a></th>
      <th><a href="#" class="success" onclick="saveTable()"></a> <a href="#" class="failed" onclick="closeTable()"></a></th>
    </tr>
  </thead>
  <tbody id="make_issue_tbody">

  </tbody>
</table>
<div id="hidebg"></div>
{% endblock %}