{% extends "base_index.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert">{{ message }}</div>
{% endfor %}
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>所属产品</th>
      <th>用例版本</th>
      <th>所属模块</th>
      <th>名称</th>
      <th>步骤</th>
      <th>描述</th>
      <th>创建者</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for case in cases|reverse %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ case['product'] }}</td>
      <td>{{ case['version'] }}</td>
      <td>{{ case['model'] }}</td>
      <td>{{ case['name'] }}</td>
      <td>{{ case['steps'] }}</td>
      <td>{{ case['description'] }}</td>
      <td>{{ case['username'] }}</td>
      <td>{{ case['create_date'] }}</td>
      <td>
        {% for opera,links in operation %}
        {% if opera !='编辑' %}
        <span class="opration"><a href="{{ SITEURL }}/uicase_{{ links }}/{{ case['id'] }}"
            onclick="loading()">{{ opera }}</a></span>
        {% endif %}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="10">
        {% for page in range(all_Page) %}
        <span class="opration"><a href="{{ SITEURL }}/uicases/{{ page+1 }}">{{ page+1 }}</a></span>
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>
<div id="loadDiv"><img src="{{ SITEURL }}/static/img/loading.gif" /></div>
{% endblock %}