{% extends "base_index.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert">{{ message }}</div>
{% endfor %}
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>用例类型</th>
      <th>所属产品</th>
      <th>所属模块</th>
      <th>名称</th>
      <th>步骤</th>
      <th>描述</th>
      <th>创建者</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for case in cases %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ case['type'] }}</td>
      <td>{{ case['product'] }}</td>
      <td>{{ case['model'] }}</td>
      <td>{{ case['name'] }}</td>
      <td>{{ case['steps'] }}</td>
      <td>{{ case['description'] }}</td>
      <td>{{ case['username'] }}</td>
      <td>{{ case['create_date'] }}</td>
      <td>
        {% for opera,links in operation %}
        <span class="opration"><a href="{{ SITEURL }}/uicase_{{ links }}/{{ case['id'] }}">{{ opera }}</a></span>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div id='pagination'>
  {% for page in range(all_Page) %}
  <span><a href="{{ SITEURL }}/uicases/{{ page+1 }}">{{ page+1 }}</a></span>
  {% endfor %}
</div>
<div class="new">
  <ul>
    <li>
      <a href="{{ SITEURL }}/new_uicase">新建</a>
    </li>
  </ul>
</div>
{% endblock %}