{% extends "base_index.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert">{{ message }}</div>
{% endfor %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form class="form-horizontal" id="uiset" action="{{ url_for('uisitues',name=name,value=value, num=num) }}" method="post">
  <div class="float-left">
    <label for="select-interface" class="float-label">选择测试集</label>
    <input list="select-interfaces" class="form-control reqapired" id="select-interface" name="select-interface"
      maxlength="200" placeholder="请选择查询的测试集">
    <datalist id="select-interfaces">
      {% for uisitues in uisitues_list %}
      <option value="{{ uisitues[0] }}">
        {% endfor %}
    </datalist>
  </div>
  <div class="float-left">
    <input type=submit value="查询" class="button">
  </div>
</form>
<div class="new">
  <ul>
    <li>
      <a href="{{ SITEURL }}/new_uisitue">新建</a>
    </li>
  </ul>
</div>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>名称</th>
      <th>执行模式</th>
      <th>步骤</th>
      <th>描述</th>
      <th>创建者</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for uisitue in uisitues %}
    <tr>
      <td>{{ loop.index+(num-1)*page_Count }}</td>
      <td>{{ uisitue['name'] }}</td>
      <td>{{ uisitue['exec_mode'] }}</td>
      <td style="position: relative;">
        <span id="pack_{{ loop.index }}">
          {{ uisitue['steps'].split("\r\n")[0] }}<br />
        </span>
        <span id="more_{{ loop.index }}" style="display: none;">
          {% for case_step in uisitue['steps'].split("\r\n") %}
          {{ case_step }}<br />
          {% endfor %}
        </span>
        {% if uisitue['steps'].split("\r\n")|length > 1 %}
        <a id="expand_more_{{ loop.index }}" class="expand_more_pack" onclick="more('{{ loop.index }}')"> ↓ </a>
        <a id="expand_pack_{{ loop.index }}" class="expand_more_pack" onclick="pack('{{ loop.index }}')" style="display: none;"> ↑ </a>
        {% endif %}
      </td>
      <td>{{ uisitue['description'] }}</td>
      <td>{{ uisitue['username'] }}</td>
      <td>{{ uisitue['create_date'] }}</td>
      <td>
        {% for opera,links in operation('测试集','UI自动化') %}
        <span class="opration"><a href="{{ SITEURL }}/uisitue_{{ links }}/{{ uisitue['id'] }}"
            onclick="loading()">{{ opera }}</a></span>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="11">
        {% for page in range(all_Page) %}
        <span class="pages {{ 'page' if num == page+1 else '' }}"><a href="{{ SITEURL }}/uisitues/{{ name }}/{{ value }}/{{ page+1 }}">{{ page+1 }}</a></span>
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>
<div id="loadDiv"><img src="{{ SITEURL }}/static/img/loading.gif" /></div>
{% endblock %}