{% extends "base_index.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert">{{ message }}</div>
{% endfor %}
<script language="javascript">
  function loading() {
    document.getElementById("loadDiv").style.display = "block";
  }
</script>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>名称</th>
      <th>步骤</th>
      <th>描述</th>
      <th>创建者</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for uisitue in uisitues %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ uisitue['name'] }}</td>
      <td>{{ uisitue['steps'] }}</td>
      <td>{{ uisitue['description'] }}</td>
      <td>{{ uisitue['username'] }}</td>
      <td>{{ uisitue['create_date'] }}</td>
      <td>
        {% for opera,links in operation %}
        {% if opera == '执行' %}
        <span class="opration"><a href="{{ SITEURL }}/uisitue_{{ links }}/{{ uisitue['id'] }}"
            onclick="loading()">{{ opera }}</a></span>
        {% else %}
        <span class="opration"><a href="{{ SITEURL }}/uisitue{{ links }}/{{ uisitue['id'] }}">{{ opera }}</a></span>
        {% endif %}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div id="loadDiv"><img src="{{ SITEURL }}/static/img/loading.gif" /></div>
<div class="new">
  <ul>
    <li>
      <a href="{{ SITEURL }}/new_uisitue">新建</a>
    </li>
  </ul>
</div>
{% endblock %}