{% extends "base_index.html" %}
{% block content %}
<div class="form-group">
    <label for="name">名称</label>
    <input type="text" class="form-control required" id="name" name="name" maxlength="20" placeholder="请输入用例名称" readonly
        unselectable="on" value={{ case['name'] }}>
</div>
<div class="form-group">
    <label for="description">描述</label>
    <input type="text" class="form-control required" id="description" name="description" maxlength="20"
        placeholder="请输入用例描述" readonly unselectable="on" value={{ case['description'] }}>
</div>
<div class="form-group">
    <label for="method">http方法</label>
    <input type="text" class="form-control required" id="method" name="method" maxlength="200" placeholder="请输入路径"
        readonly unselectable="on" value={{ case['method'] }}>
</div>
<div class="form-group">
    <label for="path">路径</label>
    <input type="text" class="form-control required" id="path" name="path" maxlength="200" placeholder="请输入路径" readonly
        unselectable="on" value={{ case['path'] }}>
</div>
<div class="form-group">
    <label for="request">请求</label>
    <div class="form-control required textarea" id="request" name="request" placeholder="请输入请求">{{ case['request'] }}</div>
</div>
<div class="form-group">
    <label for="checks">检查项</label>
    <div class="form-control required textarea" id="checks" name="checks" placeholder="请输入响应">{{ case['checks'] }}</div>
</div>
{% endblock %}